body{
  color: white;
  background: black;
}

.Title{
  text-align: center;
  margin: 12px;
  padding: 12px;
} 

.BotCollection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Bot{
  margin: 12px;
  padding: 12px;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}